*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 800px;
}

 .content {
  display: flex;
  width: 1140px;
  gap: 30px;

}

/* секция result */
.result {
  display: flex;
  flex-direction: column;
  max-height: 456px;
  padding-top: 78px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

/* кнопки поиска */
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 19px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  height: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

/* состояние ховер на чекбоксы*/
.search-form__label:hover .search-form__label-text {
text-decoration: underline;
text-underline-offset: 5px;
cursor: pointer;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* input строка ввода города */
.search-form__textfield {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: transparent;
  line-height: 100%;
  width: 225px;
  font-size: 18px;
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  word-spacing: -4px;
  color: rgba(255, 255, 255, 1);
  ;
}

/* состояние фокус на поле ввода */
.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__label:active {
  outline: none;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

/* список кнопок времени суток */
.search-form__checkbox-list {
  display: flex;
  gap: 21px;
  justify-content: space-between;
  align-items: center;
}

/* скрытое поле ввода патерном */
.search-form__checkbox {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  position: relative;
  display: flex;
  right: 3px;
}

/* состояние чекед на чекбоксы */
.search-form__pseudo-checkbox::after {
  content: "";
  background-color: #FFFFFF;
  width: 15px;
  height: 15px;
  opacity: 0;
  top: 1px;
  left: 1px;
  position: relative;
}

/* состояние чекед на чекбоксы */
.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1;
}

/* кнопка найти и показать еще, общие стили */
.button {
  height: 34px;
  background-color: transparent;
  color: white;
  border: 1px solid;
  position: relative;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  align-self: flex-end;
}

.search-form__submit-button {
  width: 194px;
}

/* кнопка показать еще в секции content__details */
.more-button {
  width: 100%;
  top: 20px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}

.button:active {
  background-color:rgba(84, 80, 80, 1);
  ;
}

.button:focus {
outline: none;
outline-offset: 1px;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
}

/* секция content__details */
.content__details {
  width: 399px;
  height: 534px;
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  gap: 16px;
}

/* заголовок */
.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

/* предлог по- */
.content__accent {
  opacity: 50%;
}

/* контейнер с городами */
.content__list-container {
  height: 301px;
  overflow: auto;
  position: relative;
  padding-top: 3px;
}

/* список городов */
.content__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
  min-height: 566px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
  display: block;
}

/* ссылка в элементе списка городов */
.content__card-link {
  text-decoration: none;
  color: white;
  display: block;
}

/* состояние фокус на карточке городов */
.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #FFFFFF;
}

/* состояние ховер на карточке городов */
.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
}

/* состояние актив на карточке городов */
.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
  text-decoration: none;
}

/* карточка в ссылке элемента списка городов */
.content__video-card {
  display: flex;
  align-items: start;
}

/* контейнер в карточке для h2 и параграфа */
.content__video-card-description-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* контейнер в карточке ссылки элементов городов */
.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* параграф в контейнере карточки ссылки элементов городов */
.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: lighter;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 3px;

}

/* ссылка на само видео из списка городов */
.content__video-card-thumbnail {
  width: 194px;
  object-fit: contain;
  object-position: center;
}


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


